body {
 background-color: #fff;
 font-family: sans-serif;
}

.gameField {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 800px;
    display: block;
}

#gameView {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 800px;
    height: 800px;
    display: block;
    background: url(../images/tile_120x120.jpg) repeat 0 0;
}

.snakeFood,
.snakeHead ,
.snakeSection {
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
}

.snakeSection {
    background-color: sandybrown;
}

.snakeHead {
    background-color: tomato;
}

.snakeFood {
    background-color: crimson;
}

#gameStatistic {
    position: absolute;
    left: 810px;
    top: 5px;
    width: 380px;
    height: 800px;
    background-color: aliceblue;
    display: block;
}